* {
    margin: 0;
    padding: 0;
}

body {
    background-color: ghostwhite;
}

table {
    border: 2px solid black;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.table-header .table-row {
    background-color: bisque;
}

.table-head {
    border: 2px solid black;
    padding: .5em;

}

.code-text {
    font-family: monospace;
    font-size: 1.1rem;
}

.table-row {
    background-color: aliceblue;
    border: 1px solid black;
}

.table-body {}

.table-body .table-cell {
    border: 1px dotted gainsboro;
    padding: 1rem;
}