h1 {
    font-weight: 700;
    font-size: 26px;
    /* font-family: 'Nunito'; */
}

.container {
    padding: 2rem;
    border: 2px solid gray;
}

.left-aligned {
    text-align: left;
}

.container:not(:first-child) {
    text-align: center;

}

.color-box {
    display: inline-block;
    border: 1px solid black;
    width: 15rem;
    height: 10rem;
    margin: .5rem;
    text-align: center;
}

/* .blue {
    color: white;
    background-color: #525BFA;

} */

:root {
    --gray-color: #E3DCD2;
    --beige-color: #CC8B65;
    --green-color: #013328;
    --black-color: #100C0D;
}

.gray {
    background-color: var(--gray-color);
}

.beige {
    background-color: var(--beige-color);
}

.green {
    color: var(--gray-color);
    background-color: var(--green-color);

}

.black {
    color: var(--gray-color);
    background-color: var(--black-color);
}

.inline-block {
    display: inline-block;
}

.margin-big {
    margin: 2rem;
}

div.lora-font {
    font-family: 'Lora', serif;
}

div.nunito-font {
    font-family: 'Nunito', sans-serif;
}

div.raleway-font {
    font-family: 'Raleway', sans-serif;
}

ul.no-decoration li {
    list-style-type: none;
    /* margin-left: 0; */
    line-height: 1.5rem;
}

/* .lora-header h3 {
    font-family: Lora, serif;
} */

/* .lora-normal {
    font-family: Lora, serif;
    font-weight: normal;

} */

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}